.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.Page-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav ul{
  background-color: #282c34;
  color: #1ab61a;  
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 20px;
  font-weight: bold;
}

nav a:hover, nav a:active, nav a.active {
  color: #1ab61a;
}


